OSHEN_EXTRACTOR_TOKEN=
OSHEN_EXTRACTOR_BASE_URL=http://localhost:9009
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
WHATSAPP_REDIS_STREAM=oshen-whatsapp-messages

EVOLUTION_API_URL=http:///host.docker.internal:8080
EVOLUTION_API_KEY=CHANGE_ME
EVOLUTION_INSTANCE_NAME=oshen
WEBHOOK_PUBLIC_URL=http://host.docker.internal:9009/api/v1