[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pydantic-settings = "*"
httpx = "*"
redis = "*"
yt-dlp = "*"

[dev-packages]
pytest = "*"
httpx = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
